

footer{
    padding: 6rem 3rem;
    background-color: var(--orange);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    color: white;
}


.main-footer a:hover{
    color: black;

  
}

.icon-footer2{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    transition: 0.5s;
}
.icon-footer2 a:hover{
    color: var(--black);
    transform: scale(1.2);
}